<li>
  <span class="title">
    <%= t(setting.name, :scope => 'refinery.admin.settings.form.title', :default => setting.title) %>
  </span>
  <span class="preview">- <%= setting.value.to_s %></span>
  <span class="actions">
    <%= link_to t('delete', :scope => 'refinery.admin.record'),
                refinery.admin_setting_path(setting),
                :class => 'delete confirm-delete nojs-hide icon-small delete-icon',
                :title => t('delete', :scope => 'refinery.admin.settings'),
                :data => {
                  :remote => true,
                  :confirm => t('message', :scope => 'refinery.admin.delete', :title => setting.title) },
                :method => :delete if setting.destroyable %>

    <%= link_to t('edit', :scope => 'refinery.admin.record'),
                refinery.edit_admin_setting_path(setting),
                :class => 'icon-small edit-icon',
                :title => t('edit', :scope => 'refinery.admin.settings') %>

    <% unless (help = t(setting.name, :scope => 'refinery.admin.settings.form.help', :default => '')).blank? %>
      <%= refinery_help_tag help %>
    <% end %>
  </span>
</li>
